/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* ------------------------- Image Compare Styles ------------------------- */
.ic-wrapper {
	clear:both;
    padding-top: 45px;
	margin:0 auto;
	text-align:center;
}
ul.ic-nav {
	margin-bottom: 0;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
ul.ic-nav li {
	width:auto;	
	text-align: center;
}
ul.ic-nav.ic-group-1 {
	margin-bottom:10px;	
}
ul.ic-nav.ic-group-1 li {
	display:inline-block;
	padding: 30px 10px 30px 10px;
	margin-right:5px;
	color:#393939;
	list-style:none;
	cursor:pointer;
	background-color:#cccccc;
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
}
.ul.ic-nav.ic-group-1 li:hover, ul.ic-nav.ic-group-1 li.active-trail {
	color:#ffffff;
	background-color: #393939;
    border:3px solid #a2a2a2;
}

ul.ic-nav.ic-group-2 li {
	padding:10px;
	margin-right:5px;
	background-color:#bfbfbf;
	color:#ffffff;
	list-style:none;
	display:none;
	cursor:pointer;
}
ul.ic-nav.ic-group-2 li.active-trail {
	background-color: #393939;
    margin-bottom: 0;
    padding-bottom: 15px;
}
ul.ic-nav.ic-group-3 {
	padding-top: 12px;
	background-color:#393939;
	width:100%;
}

ul.ic-nav.ic-group-3 li {
	padding:10px;
	margin-left:10px;
	background-color:transparent;
	color:#ffffff;
	list-style:none;
	display:none;
	cursor:pointer;
}
ul.ic-nav.ic-group-3 li.active-trail {
	background-color:#638f35;
}
.ic-container {
	width:640px;
	height:360px;
	background:#ccc;
	margin-bottom:45px;
	margin-left:auto;
	margin-right:auto;
	border-left:5px;
	border-right:5px;
	border-top:5px;
	border-bottom:5px;
	border-style: solid;
	border-color: #638f35;
	display:none;
}

.ic-image-before {
	width: 50%;
	height: 100%;
	overflow:hidden;
	position:absolute;
	float:left;	
	background-color:transparent;
	top:0;
	left:0;
	border:0;
	background-position:top left;
	background-repeat:no-repeat;
	background-size: cover;
}

.ic-image-after {
	width:100%;
	height:100%;
	padding: 0px;
	position:relative;
	float:left;
	border:0;
	background-color:transparent;
	background-position:top left;
	background-repeat:no-repeat;
	background-size: cover;
}
.ic-display-tab {
 	display:inline-block !important;	
}
.view-empty {
	background: url("../images/by-design-proj-wedge.png") no-repeat scroll center top transparent;
    padding-top: 120px;
	text-align:center;
	font-size:2em;
	color:#983232;
	margin-bottom:50px;
}
/* Webform*/
.views-exposed-form .views-exposed-widget {
	margin:0 auto;
	float:none;
	text-align:center;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ic-image-before.resizable {
	-webkit-box-shadow: 3px 0px 0px rgba(255, 255, 255, 0.3);
	-moz-box-shadow:    3px 0px 0px rgba(255, 255, 255, 0.3);
	box-shadow:         3px 0px 0px rgba(255, 255, 255, 0.3);
}
.ui-resizable-handle.ui-resizable-e {
	opacity:0.5;
	width:25px !important;
	background-color:#282828 !important;
	/*background-image:url('../images/btn_slider.png') !important;*/
	background-position:center left !important;
	background-repeat:no-repeat !important;
	-webkit-box-shadow: -3px 0px 0px rgba(255, 255, 255, 0.3);
	-moz-box-shadow:    -3px 0px 0px rgba(255, 255, 255, 0.3);
	box-shadow:         -3px 0px 0px rgba(255, 255, 255, 0.3);
}

.ui-resizable-handle.ui-resizable-e:hover {
       opacity:1;
}
.ui-resizable-handle.ui-resizable-e:active {
       opacity:1;
}
/* ------------------------- Content Styles ------------------------- */

hr {
	border: 0;
	border-bottom: 1px dashed #4d9dbe;
	background:transparent;
	margin:60px 0;
	width:auto;
}
/* ------------------------- Tag Styles ------------------------- */
form#views-exposed-form-aggregated-research-pages-page-1 {
	background:url(../images/block_overlay_bg.png) transparent;
	padding:10px;
}

div.form-item-field-project-tag-term-tid,
div.form-item-field-location-tid {
	padding-top:10px;	
}
/*.view-aggregated-research-pages div.views-widget-filter-field_project_tag_term_tid label:first-child {
	border-bottom:1px dashed #4d9dbe;
	padding-bottom:5px;
	margin-bottom:10px;
	clear:both;
}*/
.views-submit-button {
	display:none;
}
.views-widget-filter-field_project_tag_term_tid label,
.views-widget-filter-field_location_tid label{
	border-bottom: 1px dashed #4D9DBE;
	color:#4D9DBE;
	text-transform:uppercase;
	margin-top:20px;
}
.views-widget-filter-field_location_tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox,
.views-widget-filter-field_project_tag_term_tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox {
	display:inline-block;
}

.form-item-field-project-tag-term-tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox label,
.form-item-field-location-tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox label {
	cursor:pointer;
	padding-right:7px;
	padding-top:3px;
	padding-left:7px;
	padding-bottom:3px;
	margin:2px;
	background-color:#959595;
	color:#ffffff;
	cursor:pointer;
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border:none;
}
.form-item-field-project-tag-term-tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox label:hover,
.form-item-field-location-tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox label:hover {
	background-color:#638F35;
}
.form-item-field-project-tag-term-tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox label.ic-tag-active,
.form-item-field-location-tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox label.ic-tag-active {
	padding-left:25px;
	background-color:#638F35;
	background-image:url(../images/tag_icons.png);
	background-position:5px -15px;
	background-repeat:no-repeat;
}
.form-item-field-project-tag-term-tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox label.ic-tag-active:hover,
.form-item-field-location-tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox label.ic-tag-active:hover {
	padding-left:25px;
	background-image:url(../images/tag_icons.png);
	background-position:5px 8px;
	background-repeat:no-repeat;
	background-color:#983232;
}
.form-item-field-project-tag-term-tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox input,
.form-item-field-location-tid .form-checkboxes .bef-checkboxes .form-type-bef-checkbox input {
	display:none;	
}
.views-exposed-form .views-exposed-widget {
	padding:0;	
}
/* ------------------------- Theme Styles ------------------------- */

body {
	font-size: 1em;
	background: url(../images/noise.jpg) top center;
}
h1.site-name, h2.site-name {
	margin:0;	
	font-size:1.1em;
}
h6.site-slogan {
	font-size:2.2em;
	text-transform:uppercase;
	color:#393939;
}
.site-name a:link, .site-name a:visited {
    color:#ccc;
}
.site-name a:hover {
    color:#999;
}
h1#page-title {
	text-align:center;
	font-size:4em;
	text-transform:uppercase;
	color:#638f35;
}
h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	color: #393939;
}
.zone-content h2 {
	text-align:center;
	font-size:2.5em;
	line-height:.8em;
}
.zone-content h2.ic-title {
	text-align:center;
	font-size:3em;
	line-height:.8em;
	padding-bottom:10px;
	border-bottom: 1px dashed #4d9dbe;
}
.zone-content h2.ic-title a:link, .zone-content h2.ic-title a:visited {
	text-decoration:none;
	color:#393939;
	
}
.zone-content h2.ic-title a:hover {
	text-decoration:underline;
	color:#638F35;
	
	
}
.site-name-slogan {
    float: right;
}
.zone-content div p {
	padding-left: 30px;
}
.block-news-block {
	border-left:1px dashed #4d9dbe;
	padding-left:10px;
} 
.context-content .block-views h2.block-title, /* Why Design Page */
.context-community-involvement .block-views h2.block-title {
	font-size:2em;
	line-height:0.8em;
	text-align: center;
	margin-bottom:20px;
}
.context-content .region-content h2, /* Why Design Page */
.context-community-involvement .region-content h2 {
	font-size:2em;
	line-height:0.8em;
}
.region-sidebar-second h2.block-title {
	font-size: 3em;
	text-align:center;
}
/* ------------------------- Custom Font Styles ------------------------- */
h1, h2, h3, h6.site-slogan {
    font-family: 'futura-pt-condensed', 'Helvetica Neue', helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
}
.menu-name-main-menu, .main-menu {
    font-family: 'futura-pt-condensed','Helvetica Neue', helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
}
body strong {
    font-family: 'source-sans-pro', 'Helvetica Neue', helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
}
body, .zone-user ul.menu a {
    font-family: 'source-sans-pro', 'Helvetica Neue', helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.site-name {
	font-family: 'proxima-nova', 'Helvetica Neue', helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;	
}
/* ------------------------- Form Styles ------------------------- */
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	width: 100%;
	max-width:400px;	
}

/* ------------------------- Inserted Content Images Styles ------------------------- */
.image-img-content-above {
	border:solid 4px #fff;
	clear:both;
}
.image-img-content-below {
	
} 
.image-img-content-full-left {
	border:solid 4px #fff;
	text-align:center;
	float:none;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:20px;
	-webkit-box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.13);
	-moz-box-shadow:    0px 1px 4px rgba(50, 50, 50, 0.13);
	box-shadow:         0px 1px 4px rgba(50, 50, 50, 0.13);
	transform:rotate(0deg);
	-ms-transform:rotate(-0deg); /* IE 9 */
	-moz-transform:rotate(-0deg); /* Firefox */
	-webkit-transform:rotate(-0deg); /* Safari and Chrome */
	-o-transform:rotate(-0deg); /* Opera */
}
.image-img-content-full-right {
	border:solid 4px #fff;
	text-align:center;
	float:none;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:20px;
	-webkit-box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.13);
	-moz-box-shadow:    0px 1px 4px rgba(50, 50, 50, 0.13);
	box-shadow:         0px 1px 4px rgba(50, 50, 50, 0.13);
	-ms-transform:rotate(0deg); /* IE 9 */
	-moz-transform:rotate(0deg); /* Firefox */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */
	-o-transform:rotate(0deg); /* Opera */
}
.image-img-content-inset-left {
	
}
.image-img-content-inset-right {

}

/* Footer Menu */
/* ------------------------- Navigation Menu Block Styles ------------------------- */
.zone-footer .menu-name-main-menu ul.menu
.zone-menu .menu-name-main-menu ul.menu {
	text-align:left;	
	margin-bottom:20px;
}
.zone-menu .menu-name-main-menu ul.menu li, .zone-footer .menu-name-main-menu ul.menu li {
	display:inline-block;
	list-style:none;
	line-height:1;
	padding:0;
	margin:0;
	width:100%;
}
.zone-footer .menu-name-main-menu ul.menu li a:link,
.zone-footer .menu-name-main-menu ul.menu li a:visited {
	color: #393939;	
    text-decoration: none;
	font-size: 2.5em;
	text-transform:uppercase;
	display:block;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:10px;
	border: 2px solid #cccccc;
	margin-bottom:4px;
}
.zone-menu .menu-name-main-menu ul.menu li a:link,
.zone-menu .menu-name-main-menu ul.menu li a:visited {
	color: #393939;	
    text-decoration: none;
	font-size: 2.5em;
	text-transform:uppercase;
	display:block;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:10px;
	border: 2px solid #cccccc;
	margin-bottom:4px;
}
.zone-footer .menu-name-main-menu ul.menu li a:hover,
.zone-footer .menu-name-main-menu ul.menu li a.active {
	color: #b87c13;
	padding-right:10px;
	padding-bottom:10px;
	border: 2px solid #cccccc;
	margin-bottom:4px;
	background-color:#F8F8F8;
}
.zone-menu .menu-name-main-menu ul.menu li a:hover,
.zone-menu .menu-name-main-menu ul.menu li a.active {
	color: #b87c13;
	padding-right:10px;
	padding-bottom:10px;
	border: 2px solid #cccccc;
	margin-bottom:4px;
	background-color:#F8F8F8;
}
.zone-footer li a.rlab-home-link:link,
.zone-footer li a.rlab-home-link:visited {
	background: url(../images/btn_home1.png) no-repeat 4px -105px;
	padding-left:90px;
}	
.zone-menu li a.rlab-home-link:link,
.zone-menu li a.rlab-home-link:visited {
	background: url(../images/btn_home1.png) no-repeat 4px -105px;
	padding-left:90px;
}
.zone-footer li a.rlab-home-link:hover,
.zone-footer li a.rlab-home-link.active {
	background:url(../images/btn_home1.png) no-repeat 4px 0px;
}
.zone-menu li a.rlab-home-link:hover,
.zone-menu li a.rlab-home-link.active {
	background:url(../images/btn_home1.png) no-repeat 4px 0px;
}
.zone-footer li.menu-mlid-390 a:link,
.zone-footer li.menu-mlid-390 a:visited {
	background:url(../images/btn_people.png) no-repeat 4px -106px;
	padding-left:90px;
}
	
.zone-menu li.menu-mlid-390 a:link,
.zone-menu li.menu-mlid-390 a:visited {
	background:url(../images/btn_people.png) no-repeat 4px -106px;
	padding-left:90px;	
}
.zone-footer li.menu-mlid-390 a.active {
	background:url(../images/btn_people.png) no-repeat 4px 0px;
}
.zone-menu li.menu-mlid-390 a.active {
	background:url(../images/btn_people.png) no-repeat 4px 0px;
}
.zone-footer li.menu-mlid-390 a:hover {
	background:url(../images/btn_people.png) no-repeat 4px 1px;
}
.zone-menu li.menu-mlid-390 a:hover {
	background:url(../images/btn_people.png) no-repeat 4px 1px;
}
.zone-footer li.menu-mlid-391 a:link,
.zone-footer li.menu-mlid-391 a:visited {
	background:url(../images/btn_issues.png) no-repeat 4px -106px;	
	padding-left:90px;
}
.zone-menu li.menu-mlid-391 a:link,
.zone-menu li.menu-mlid-391 a:visited {
	background:url(../images/btn_issues.png) no-repeat 4px -106px;
	padding-left:90px;	
}
.zone-footer li.menu-mlid-391 a.active {
	background:url(../images/btn_issues.png) no-repeat 4px 0px;
}
.zone-menu li.menu-mlid-391 a.active {
	background:url(../images/btn_issues.png) no-repeat 4px 0px;
}
.zone-footer li.menu-mlid-391 a:hover {
	background:url(../images/btn_issues.png) no-repeat 4px 1px;
}
.zone-menu li.menu-mlid-391 a:hover {
	background:url(../images/btn_issues.png) no-repeat 4px 1px;
}
.zone-footer li.menu-mlid-392 a:link,
.zone-footer li.menu-mlid-392 a:visited {
	background:url(../images/btn_whydesign.png) no-repeat 4px -106px;
	padding-left:90px;	
}
.zone-menu li.menu-mlid-392 a:link,
.zone-menu li.menu-mlid-392 a:visited {
	background:url(../images/btn_whydesign.png) no-repeat 4px -106px;
	padding-left:90px;
}
.zone-footer li.menu-mlid-392 a.active {
	background:url(../images/btn_whydesign.png) no-repeat 4px 0px;
}
.zone-menu li.menu-mlid-392 a.active {
	background:url(../images/btn_whydesign.png) no-repeat 4px 0px;
}
.zone-footer li.menu-mlid-392 a:hover {
	background:url(../images/btn_whydesign.png) no-repeat 4px 1px;
}
.zone-menu li.menu-mlid-392 a:hover {
	background:url(../images/btn_whydesign.png) no-repeat 4px 1px;
}
.zone-footer li.menu-mlid-805 a:link,
.zone-footer li.menu-mlid-805 a:visited {
	background:url(../images/btn_bydesign.png) no-repeat 4px -106px;
	padding-left:90px;	
}
.zone-menu li.menu-mlid-805 a:link,
.zone-menu li.menu-mlid-805 a:visited {
	background:url(../images/btn_bydesign.png) no-repeat 4px -106px;
	padding-left:90px;	
}
.zone-footer li.menu-mlid-805 a.active {
	background:url(../images/btn_bydesign.png) no-repeat 4px 0px;
}
.zone-menu li.menu-mlid-805 a.active {
	background:url(../images/btn_bydesign.png) no-repeat 4px 0px;
}
.zone-footer li.menu-mlid-805 a:hover {
	background:url(../images/btn_bydesign.png) no-repeat 4px 1px;
}
.zone-menu li.menu-mlid-805 a:hover {
	background:url(../images/btn_bydesign.png) no-repeat 4px 1px;
}
.zone-footer li.menu-mlid-394 a:link,
.zone-footer li.menu-mlid-394 a:visited {
	background:url(../images/btn_community.png) no-repeat 4px -106px;
	padding-left:90px;	
}
.zone-menu li.menu-mlid-394 a:link,
.zone-menu li.menu-mlid-394 a:visited {
	background:url(../images/btn_community.png) no-repeat 4px -106px;
	padding-left:90px;	
}
.zone-footer li.menu-mlid-394 a.active {
	background:url(../images/btn_community.png) no-repeat 4px 1px;
}
.zone-menu li.menu-mlid-394 a.active {
	background:url(../images/btn_community.png) no-repeat 4px 1px;
}
.zone-footer li.menu-mlid-394 a:hover {
	background:url(../images/btn_community.png) no-repeat 4px 2px;
}
.zone-menu li.menu-mlid-394 a:hover {
	background:url(../images/btn_community.png) no-repeat 4px 2px;
}

/* ------------------------- Branding Bar ------------------------- */
#zone-branding-wrapper {
	background-color:#fff;
	margin:20px auto;
	-webkit-box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.13), 0px 3px 0px rgba(50, 50, 50, 0.13),;
	-moz-box-shadow:    0px -3px 0px rgba(50, 50, 50, 0.13), 0px 3px 0px rgba(50, 50, 50, 0.13);
	box-shadow:         0px -3px 0px rgba(50, 50, 50, 0.13), 0px 3px 0px rgba(50, 50, 50, 0.13);
}
#zone-branding.zone-branding {
	margin:0px auto;
}
 #region-branding.region-branding {
	hieght:80px;
	padding-top:25px;
	padding-bottom:25px;
	padding-left:10px;
	padding-right:10px;
	margin:auto;
 }
 /* ------------------------- Branding Bar ------------------------- */

#zone-header {
	padding:20px 0;
 }
.block-timeline-block-1 {
	border:2px #999 solid;
	padding-top:20px;
	background-color:#fff;
 }
 
 .vco-storyjs, .storyjs-embed {
	background-color:transparent !important;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-frame, .vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-image img {
    background-color: #FFFFFF !important;
    border: 3px solid #333 !important;
}
.vco-storyjs .vco-feature .slider, .vco-storyjs .vco-feature .vco-slider {
    padding: 0 !important;
}
.vco-slider .slider-container-mask {
	position:relative;	
}
/* ------------------------- Block Styles ------------------------- */
/* - People List - */
.block-people-block-1 .people-profile-list.people-profile-collapsed {	
width: 760px;
background:url(../images/block_overlay_bg.png) transparent;
}
.block-people-block-1 .people-profile-list.people-profile-active {
	background:url(../images/block_overlay_bg.png) transparent;
	width: 760px;
}
.people-profile-collapsed.hover {
	display:none;	
}
.block-people-block-1 .people-profile-list {
display:block;
clear:both;
float:left;
height:auto;
margin-top:0px;
margin-bottom:10px;
margin-left:0;
margin-right:0;
padding:10px;
width:auto;
cursor:pointer;
}
.block-people-block-1 .people-profile-list .profile-thumb {
}
.block-people-block-1 .people-profile-list .profile-thumb-gray {

	display:none;
}

.block-people-block-1 .people-profile-list .profile-large {
	float:none;
	display:none;
	text-align:center;
}
.block-people-block-1 .people-profile-list .profile-thumb img{
	border:#fff solid 4px;
}
.block-people-block-1 .people-profile-list .profile-thumb-gray img{
	border:#fff solid 4px;
}
.block-people-block-1 .people-profile-list .profile-large img{
	border:#fff solid 4px;
}
.block-people-block-1 .people-profile-list p{
	margin-left: 0px;
	padding-left:10px;
	padding-right:10px;
	font-size:1em;
	display:block;
}
.block-people-block-1 .people-profile-list h2{
	font-size:2.5em;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom:10px;
}
.block-people-block-1 .kill-profile-btn {
	float:right;
	clear:both;
	background:#fff;
	padding:5px;
	display:block;
	cursor:pointer;
}
.block-people-block-1 .kill-profile-btn:hover {
	background:#999;
	color:#fff;
	padding:5px;
	display:block;
}
.block-views-content-image-slider-block {
	margin-top:20px;
	margin-bottom:20px;	
}
.block-views-upcoming-workshops-block, .block-nodeblock-40 {
	padding:10px 10px 40px 10px;
	margin-bottom:20px;
	background:url(../images/block_overlay_bg.png) transparent;
}
.block-nodeblock-40 {/*Project selector block on by-design page*/
	padding:10px 10px 40px 10px;
	margin:0;
	background:url(../images/block_overlay_bg.png) transparent;
	border-top: 2px solid #A2A2A2;
}
.block-nodeblock-40 div h2 {
	text-align:center;
}
.block-nodeblock-38 { /* by-design content block */
	background:url(../images/by-design-illustration.jpg) bottom center no-repeat;
	padding-bottom:220px;
}
.view-aggregated-research-pages .view-content { /* by-design reseaerch block */
	background:url(../images/by-design-proj-wedge.png) top center no-repeat;
	padding-top:120px;
}
.views-field-field-poster-image .item-list ul {
	text-align:center;
}
.views-field-field-poster-image .item-list ul li {
	float:left;
	display:inline-block;
}
.block-views h2.block-title {
	text-align:center;	
}
.block-webform {
	padding:10px 10px 40px 10px;
	margin-bottom:20px;
	background:url(../images/block_overlay_bg.png) transparent;
}
/*.zone-content .menu-block-wrapper {
	padding:10px 10px 40px 10px;
	margin-bottom:20px;
	background:url(../images/block_overlay_bg.png) transparent;
}*/
/* ------------- issues page submenu ------------- */
.block-menu-block-2 .block-title {
		display:none;
}
.block-menu-block-2 ul.menu li {
	list-style:none;
	margin-top:3px;
	margin-bottom:3px;
}
.block-menu-block-2 ul.menu li a:link, .block-menu-block-2 ul li a:visited, .block-menu-block-2 ul li a.active {
	text-transform:capitalize;
	text-decoration:none;
	display:block;
	color:#393939;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.block-menu-block-2 ul.menu li a:hover {
	background-color:#638F35;
	color:#ffffff;
}
	
/* ------------------------- Flex Slider Styles ------------------------- */
.views-field-picture {
	float:left;
	margin-right:5px;
}
/* ------------------------- Editor Menu ------------------------- */
.zone-user-wrapper {
	background:url(../images/admin_bg.png) center top #333;
	border-bottom: 4px solid #CCC;
	text-align:center;
}

.zone-user ul li{
	list-style:none;
	display:block;
	margin:0px;
	padding:0px;
}
.zone-user ul li.first {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.zone-user ul li.last {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.zone-user ul li a {
	color:#333;
	font-weight:700;
	text-decoration:none;
	background:#CCC;
	padding:5px 10px;
	float:left;
}

.zone-user ul li a:hover{
	background:#fff;
	text-decoration:underline;
}
.zone-user h2.block-title{
	color:#fff;
	text-align:left;
	margin-top:20px;
}
/* ------------------------- Footer Zone ------------------------- */
.zone-footer-wrapper {
	padding:10px 10px 40px 10px;
	margin-top:40px;
	border-top: 2px solid #A2A2A2;
	background:url(../images/block_overlay_bg.png) transparent;
}

