/* This file will hold styles that are loaded using the same media query as the wide grid. */
/* ------------------------- Image Compare Styles ------------------------- */
.ic-container {
	width:1070px;
	height:602px;
	background:#ccc;
	margin-bottom:45px;
	margin-left:auto;
	margin-right:auto;
	border-left:5px;
	border-right:5px;
	border-top:5px;
	border-bottom:5px;
	border-style: solid;
	border-color: #638f35;
	display:none;
}
div p {
	font-size:1.125em;
}
h1#page-title {
	font-size:4em;
}
.block-views h2.block-title, .region-content h2 {
    text-align: left;
	font-size:4em;
	line-height:0.9em;
}
/* ------------------------- Navigation Menu Block Styles ------------------------- */
.zone-menu .menu-name-main-menu ul.menu li a:link,
.zone-menu .menu-name-main-menu ul.menu li a:visited {
	color: #393939;	
    text-decoration: none;
	font-size: 1.5em;
	text-transform:uppercase;
	display:inline-block;
	padding-right:18px;
	padding-bottom:30px;
	padding-top:30px;
	border: none;
	margin-bottom:4px;
}

.zone-menu .menu-name-main-menu ul.menu li a:hover,
.zone-menu .menu-name-main-menu ul.menu li a.active {
	color: #b87c13;
	padding-right:18px;
	padding-bottom:30px;
	border: none;
	margin-bottom:4px;
	background-color:transparent;
}
	
.zone-menu li.menu-mlid-403 a:link,
.zone-menu li.menu-mlid-403 a:visited {
	background: url(../images/btn_home1.png) no-repeat 4px -105px;
	padding-left:85px;
}
.zone-menu li.menu-mlid-403 a:hover,
.zone-menu li.menu-mlid-403 a.active {
	background:url(../images/btn_home1.png) no-repeat 4px 0px;
	padding-left:85px;
}	
.zone-menu li.menu-mlid-390 a:link,
.zone-menu li.menu-mlid-390 a:visited {
	background:url(../images/btn_people.png) no-repeat 4px -106px;	
	padding-left:65px;
}

.zone-menu li.menu-mlid-390 a.active {
	background:url(../images/btn_people.png) no-repeat 4px 0px;
	padding-left:65px;
}

.zone-menu li.menu-mlid-390 a:hover {
	background:url(../images/btn_people.png) no-repeat 4px 1px;
	padding-left:65px;
}

.zone-menu li.menu-mlid-391 a:link,
.zone-menu li.menu-mlid-391 a:visited {
	background:url(../images/btn_issues.png) no-repeat 4px -106px;	
	padding-left:75px;
}

.zone-menu li.menu-mlid-391 a.active {
	background:url(../images/btn_issues.png) no-repeat 4px 0px;
	padding-left:75px;
}
.zone-menu li.menu-mlid-391 a:hover {
	background:url(../images/btn_issues.png) no-repeat 4px 1px;
	padding-left:75px;
}

.zone-menu li.menu-mlid-392 a:link,
.zone-menu li.menu-mlid-392 a:visited {
	background:url(../images/btn_whydesign.png) no-repeat 4px -106px;	
	padding-left:90px;
}

.zone-menu li.menu-mlid-392 a.active {
	background:url(../images/btn_whydesign.png) no-repeat 4px 0px;
	padding-left:90px;
}

.zone-menu li.menu-mlid-392 a:hover {
	background:url(../images/btn_whydesign.png) no-repeat 4px 1px;
	padding-left:90px;
}

.zone-menu li.menu-mlid-805 a:link,
.zone-menu li.menu-mlid-805 a:visited {
	background:url(../images/btn_bydesign.png) no-repeat 4px -106px;	
	padding-left:85px;
}

.zone-menu li.menu-mlid-805 a.active {
	background:url(../images/btn_bydesign.png) no-repeat 4px 0px;
	padding-left:85px;
}

.zone-menu li.menu-mlid-805 a:hover {
	background:url(../images/btn_bydesign.png) no-repeat 4px 1px;
	padding-left:85px;
}

.zone-menu li.menu-mlid-394 a:link,
.zone-menu li.menu-mlid-394 a:visited {
	background:url(../images/btn_community.png) no-repeat 4px -106px;
	padding-left:95px;	
}

.zone-menu li.menu-mlid-394 a.active {
	background:url(../images/btn_community.png) no-repeat 4px 1px;
	padding-left:95px;	
}

.zone-menu li.menu-mlid-394 a:hover {
	background:url(../images/btn_community.png) no-repeat 4px 2px;
	padding-left:95px;	
}
/* ------------------------- Branding Zone Styles ------------------------- */
#region-branding.region-branding {
	padding-top:35px;
	padding-bottom:35px;
	padding-left:0;
	padding-right:0;
}

/*#zone-branding-wrapper {
	max-width:1800px;
}*/